{{ define "main" }}

<style>
.home-hero {
    background-image: url("https://res.cloudinary.com/onpointcustomhomes/image/upload/b_black,o_50/v1566605000/Empower%20Title/home-hero.jpg");
}
a {
transition: .2s;
}
</style>
<div class="bg-fixed bg-bottom bg-cover bg-no-repeat z-50 text-center py-56 px-6 lg:px-12 home-hero">
    <h6 class="font-teko text-2xl md:text-4xl font-light text-white leading-none pb-3">Lorem ispum rhout test.</h6>
    <h1 class="font-open text-3xl md:text-6xl font-light text-white pb-10 leading-none">Lorem ipsum <span class="font-bold">Begin</span> to <span class="font-bold">End</span></h1>
    <a href="/about-us/" class="bg-color-1B5785 border-4 border-color-042947 hover:bg-color-042947 font-teko text-xl text-white pt-2 pb-1 px-4 hover:cursor-pointer">About Empower Title</a>
</div>
{{ end }}