{{ define "main" }}

<style>
.title-hero-1 {
    background-image: url("https://res.cloudinary.com/onpointcustomhomes/image/upload/v1569898038/Empower%20Title/learn-about-title.jpg");
}
.title-hero-2 {
    background-image: url("https://res.cloudinary.com/onpointcustomhomes/image/upload/v1569898031/Empower%20Title/study-title.jpg");
}
.read-more-content {
    transition: .2s;
}
.read-more-content2 {
    transition: .2s;
}
</style>

<div class="bg-color-1B5785 py-1"></div>

<div class="flex flex-wrap items-start py-12 lg:px-24">
    <div class="w-5/6 lg:w-1/2 mx-auto pt-6 lg:pr-12">
        <h2 class="text-4xl font-teko">What is Lorem Ipsum?</h2>
        <p class="font-open text-lg font-light pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <div class="text-color-1B5785 select-none read-more">
            <i class="pr-1 fas fa-caret-right read-more-carot"></i> Read More
        </div>
        <span class="font-open text-0 font-light read-more-content">
        <p class="py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </span>
    </div>
    <div class="w-5/6 lg:w-1/2 lg:px-8 mx-auto bg-contain bg-center bg-no-repeat title-hero-1">
        <div class="py-40"></div>
    </div>
</div>

<div class="flex flex-wrap lg:flex-row-reverse items-start py-12 lg:px-24">
    <div class="w-5/6 lg:w-1/2 mx-auto pt-6 lg:pr-12">
        <h2 class="text-4xl font-teko">What is Lorem Ipsum?</h2>
        <p class="font-open text-lg font-light pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <div class="text-color-1B5785 select-none read-more2">
            <i class="pr-1 fas fa-caret-right read-more-carot2"></i> Read More
        </div>
        <span class="font-open text-0 font-light read-more-content2">
        <p class="py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </span>
    </div>
    <div class="w-5/6 lg:w-1/2 lg:px-8 mx-auto bg-contain bg-center bg-no-repeat title-hero-2">
        <div class="py-40"></div>
    </div>
</div>

{{ end }}